*,
:after,
:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #343d4a;
  background-color: #edf0f1;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;

  .view {
    position: relative;
    min-height: 100vh;
    display: flex;

    #top {
      position: fixed;
      height: 8vh;
      width: 100%;
      top: 0;
      text-align: right;
      background-color: #ffffff;
      flex: 10 10 auto;
      color: #3a0d14;

      div {
        position: relative;
        display: inline-block;
        color: #3a0d14;
        padding: 3vh 3vh;
        right: 5%;
        height: 10vh;
        font-weight: bold;
        &:hover {
          color: #f15725;
          ul {
            display: block;
          }
        }

        img {
          position: relative;
          height: 2vh;
          padding-right: 0.3vh;
          top: 0.35vh;
        }

        ul {
          display: none;
          position: absolute;
          list-style-type: none;
          margin: 0;
          padding: 0;
          background-color: #f9f9f9;
          width: 70%;
          text-align: center;
          router-link {
            color: #8c818a;
          }
        }
      }
    }

    router-link {
      width: 100%;
      font-weight: bold;
      color: #3a0d14;
      text-decoration: none;
      cursor: pointer;
      text-align: left;

      &:hover {
        color: #f15725;
      }

      &.router-link-exact-active {
        color: #f15725;
      }
    }

    #content {
      position: relative;
      min-height: 80vh;
      width: 100%;
    }

    #foot {
      position: fixed;
      height: 5vh;
      width: 100%;
      bottom: 0;
      left: 0;
      background-color: #ffffff;
      display: inline-block;
      text-align: center;
      vertical-align: center;
      line-height: 5vh;
    }

    #logo {
      position: fixed;
      top: 0;
      left: 0;
      height: 8vh;
      width: 27vh;
    }
  }
}