*,
:after,
:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #343d4a;
  background-color: #edf0f1;
  font-family: Monospace, serif;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;

  .view {
    position: relative;
    min-height: 100vh;
    display: flex;

    #unLoginTop {
      display: block;
    }

    #loginTop {
      display: none;
    }

    .top {
      position: fixed;
      font-family: Monospace, serif;
      height: 6vh;
      width: 100%;
      top: 0;
      text-align: right;
      background-color: #ffffff;
      flex: 0 0 auto;
      color: #3a0d14;
      z-index: 998;

      div {
        position: relative;
        display: inline-block;
        color: #3a0d14;
        padding: 2vh 3vh;
        right: 5%;
        height: 10vh;
        font-weight: bold;
        font-size: 13px;
        &:hover {
          color: #f15725;
          ul {
            display: block;
          }
        }

        img {
          position: relative;
          padding-right: 0.3vh;
          top: 0.3vh;
        }

        ul {
          display: none;
          position: absolute;
          list-style-type: none;
          margin: 0;
          padding: 0;
          background-color: #f9f9f9;
          width: 70%;
          text-align: center;
          li {
            height: 25px;
            padding-top: 5px;
            &:hover{
              background-color: #e6e5e8;
            }
          }
        }
      }
    }

    .menu {
      width: 100%;
      font-weight: bold;
      color: #3a0d14;
      text-decoration: none;
      cursor: pointer;
      text-align: left;

      &:hover {
        color: #f15725;
      }

      &.router-link-exact-active {
        color: #f15725;
      }
    }

    .subMenu {
      color: #8c818a;
      text-decoration:none;
    }

    #content {
      position: fixed;
      top: 7.5vh;
      height: 87vh;
      width: 100%;
      background-color: #f9f9f9;
    }

    #foot {
      position: fixed;
      height: 4vh;
      width: 100%;
      bottom: 0;
      left: 0;
      background-color: #ffffff;
      display: inline-block;
      text-align: center;
      vertical-align: center;
      line-height: 4vh;
      font-size: 12px;
    }

    #logo {
      position: fixed;
      top: 0;
      left: 0;
      height: 6vh;
      width: 23vh;
      z-index: 999;
    }
  }
}